checkpoints/
__pycache__/
.ipynb_checkpoints/
3D-CSL/
videos/
train_data_yappy/train_dataset/
ausil/
trash/
audios/
pickled_data/*
!pickled_data/audio_similarities.pkl
!pickled_data/video_similarities.pkl